/* .container {
    display: inline;
    background-color: aqua;
}

.playlist {
    background-color: green;
}
.playlist ul {
    display: inline;
}

.playlist ul li {
    color: blue;
    display: block;
    background-color: inherit;
} */

/* * {
    border: 3px solid red;
}

.playlist {
    display: block;
    color: wheat;
} */

